# MySQL 数据库配置
MYSQL_DATABASE_URL=mysql://admin:password@localhost:3306/example_db

# Postgres 数据库配置
POSTGRES_DATABASE_URL=postgresql://admin:password@localhost:5432/example_db

# MinIO 配置
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=mybucket

# JWT 配置
SECRET_KEY=your-secret-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30